@import url(https://fonts.google.com/specimen/Roboto?query=ro);
p,h1{
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Mountains of Chriistmas';
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dashed;
}